.note--container {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 5px;
	gap: 0px 5px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(250, 242, 250, 1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(250, 242, 250, 1);
	box-shadow: 0px 0px 8px 0px rgba(250, 242, 250, 1);
	border-radius: 8px;
	transition: all 0.2s ease-in-out;
}
.note--container:hover {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(224, 215, 224, 1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(224, 215, 224, 1);
	box-shadow: 0px 0px 8px 0px rgba(224, 215, 224, 1);
	transform: scale(1.02);
	transition: all 0.2s ease-in-out;
	cursor: default;
}
.note--info {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px 0px;
	padding: 0px 10px;
}
.note--title {
}
.note--content {
	font-weight: 400;
	line-height: 1.5rem;
	color: rgb(161, 161, 170);
	font-size: 16px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.note--container:hover .note--content {
	display: -webkit-box;
	-webkit-line-clamp: unset;
	-webkit-box-orient: unset;
	overflow: unset;
}

.note--chip--container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}
.note--chip {
	background: var(--clr--hover);
	padding: 5px 12px;
	border-radius: 32px;
	font-size: 12px;
}

.note--date {
	width: 100%;
	text-align: end;
	font-size: 12px;
}

.note--actions {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}
.note--button {
	min-width: 100px;
	padding: 5px 0px;
	background: var(--clr--primary);
	cursor: pointer;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	font-weight: 500;
	letter-spacing: 0.8px;
}
.note--button:hover {
	background: var(--clr--hover);
}

.confirm--modal {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
	border: 0px;
	background: rgba(255, 255, 255, 0.14);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(7.9px);
	-webkit-backdrop-filter: blur(7.9px);
}
.confirm--container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 30px 0px;
	justify-content: center;
	align-items: center;
}
.confirm--title {
	font-size: 20px;
}
.confirm--button--container {
	display: flex;
	flex-direction: row;
	gap: 0px 30px;
	justify-content: center;
	align-items: center;
}
.confirm--button {
	background: var(--clr--primary);
	padding: 10px 20px;
	cursor: pointer;
	border: none;
	text-transform: uppercase;
}
.confirm--button:hover {
	background: var(--clr--hover);
}
